.section-4 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;
}

.section-4 span{
    color: #d3ad7f;
}

.container-clientes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.paragrafo{
    border: solid 1px rgba(255, 255, 255, .3);
    padding: 3rem;
    width: 28rem;
}

.paragrafo img{
    width: 85px;
    height: auto;
    margin-top: 1rem;
}

.paragrafo p{
    color: #ccc;
    line-height: 2rem;
    margin-top: 1rem;
}

.paragrafo h4{
    color: #fff;
    margin-top: 2rem;
    font-size: 2rem;
}