@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*Configuração padrão de todos os sites*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
    border: none;
}

/*Barra de rolagem invisivel*/

html::-webkit-scrollbar{
    width: 0rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5rem;
}

/*Imagem de fundo do header*/

.backgroud{
    background-image: url('imagens/home-img.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

body{
    background-color: black;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    max-width: 100%;
    align-items: center;
}

/*Logo do header*/

.logo img{
    width: 75px;
    height: auto;
    margin-left: 5rem;
}

/*Links do header*/

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

/*Icones do header*/

.c-icon{
    margin-right: 5rem;
}

.Icone ion-icon{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

ul li a:hover{
    text-transform: capitalize;
    color: rgb(101, 110, 3);
    border-bottom: solid 1px;
}

/*Linha horizontal do header*/

hr{
    border-bottom: solid 0.1px;
    color: rgb(54, 46, 46);
    margin-top: 15px;
}

/*Texto do header*/

.c-title{
    margin-left: 5rem;
    margin-top: 10rem;
}

.c-title h1{
    color: white;
    font-size: 4.8rem;
}

.c-title p{
    color: rgb(231, 208, 208);
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

/*Botão do header*/

.c-title button{
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.c-title button:hover{
    letter-spacing: 2px;
    transition: 0.3s all;
}