.section-3 h1{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
}

.c-card{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.section-3 span{
    color: #d3ad7f;
}

.cards{
    border: solid 1px rgba(255, 255, 255, .3);
    padding: 5rem;
    max-width: 100%;
    align-items: center;
    text-align: center;
    width: 30rem;
    height: 30rem;
    margin-top: 3rem;
}

.icones a{
    color:#fff;
    font-size: 2rem;
    border: solid 1px #ccc;
    padding: 0.8rem;
}

.icones a:hover{
    background-color: #d3ad7f;
}

.c-card img{
    margin-top: 2rem;
}

.title-produtos h3{
    color: #fff;
    margin-top: 1rem;
}

.price{
    color: #fff;
}

.price span{
    text-decoration: line-through;
}

.star a{
    color: #d3ad7f;
    font-size: 1.5rem;
}